@font-face {
    font-family: 'angsana';
    src: url(font/front/AngsanaNewBoldItalic.ttf);
}
.text-white {
    color: rgba(255, 255, 255, 0.8);
}

.bg-gray-custom {
    background-color: #ecf0f5;
}


.skin-custom .main-header .logo {
    background-color: #E58717;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

.skin-custom .main-header .logo:hover {
    background-color: #F5A33F;

}
.skin-custom .main-header .navbar {
    background-color: #FF9333;
}

.skin-custom .main-header li.user-header {
    background-color: #FF9333;
}
.box.box-custom {
    border-top-color: #FF9333;
}