/*
 * Skin: Blue
 * ----------
 */
.skin-custom .main-header .navbar {
    background-color: #00B2EE;
}
.skin-custom .main-header .navbar .nav > li > a {
    color: #ffffff;
}
.skin-custom .main-header .navbar .nav > li > a:hover,
.skin-custom .main-header .navbar .nav > li > a:active,
.skin-custom .main-header .navbar .nav > li > a:focus,
.skin-custom .main-header .navbar .nav .open > a,
.skin-custom .main-header .navbar .nav .open > a:hover,
.skin-custom .main-header .navbar .nav .open > a:focus,
.skin-custom .main-header .navbar .nav > .active > a {
    background: rgba(0, 0, 0, 0.1);
    color: #f6f6f6;
}
.skin-custom .main-header .navbar .sidebar-toggle {
    color: #ffffff;
}
.skin-custom .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.1);
}
.skin-custom .main-header .navbar .sidebar-toggle {
    color: #fff;
}
.skin-custom .main-header .navbar .sidebar-toggle:hover {
    background-color: #00BFFF;
}
@media (max-width: 767px) {
    .skin-custom .main-header .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, 0.1);
    }
    .skin-custom .main-header .navbar .dropdown-menu li a {
        color: #fff;
    }
    .skin-custom .main-header .navbar .dropdown-menu li a:hover {
        background: #00BFFF;
    }
}
.skin-custom .main-header .logo {
    background-color: #00BFFF;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}
.skin-custom .main-header .logo:hover {
    background-color: #357ca5;
}
.skin-custom .main-header li.user-header {
    background-color: #00B2EE;
}
.skin-custom .content-header {
    background: transparent;
}
.skin-custom .wrapper,
.skin-custom .main-sidebar,
.skin-custom .left-side {
    background-color: grey;
}
.skin-custom .user-panel > .info,
.skin-custom .user-panel > .info > a {
    color: #fff;
}
.skin-custom .sidebar-menu > li.header {
    color: white;
    background: grey;
}
.skin-custom .sidebar-menu > li > a {
    border-left: 3px solid transparent;
}
.skin-custom .sidebar-menu > li:hover > a,
.skin-custom .sidebar-menu > li.active > a,
.skin-custom .sidebar-menu > li.menu-open > a {
    color: #ffffff;
    background: #9d9d9d;
}
.skin-custom .sidebar-menu > li.active > a {
    border-left-color: #00B2EE;
}
.skin-custom .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #9d9d9d;
}
.skin-custom .sidebar a {
    color: white;
}
.skin-custom .sidebar a:hover {
    text-decoration: none;
}
.skin-custom .sidebar-menu .treeview-menu > li > a {
    color: white;
}
.skin-custom .sidebar-menu .treeview-menu > li.active > a,
.skin-custom .sidebar-menu .treeview-menu > li > a:hover {
    color: white;
}
.skin-custom .sidebar-form {
    border-radius: 3px;
    border: 1px solid grey;
    margin: 10px 10px;
}
.skin-custom .sidebar-form input[type="text"],
.skin-custom .sidebar-form .btn {
    box-shadow: none;
    background-color: grey;
    border: 1px solid transparent;
    height: 35px;
}
.skin-custom .sidebar-form input[type="text"] {
    color: white;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
}
.skin-custom .sidebar-form input[type="text"]:focus,
.skin-custom .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    background-color: #fff;
    color: white;
}
.skin-custom .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
    border-left-color: #fff;
}
.skin-custom .sidebar-form .btn {
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
}
.skin-custom.layout-top-nav .main-header > .logo {
    background-color: #00B2EE;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}
.skin-custom.layout-top-nav .main-header > .logo:hover {
    background-color: #009ACD;
}
.box.box-custom {
    border-top-color: #00B2EE;
}